.imagenes-simetricas {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.imagenes-simetricas img {
  width: 40%; /* Reducimos el tamaño al 40% del contenedor */
  height: auto;
  border-radius: 10px; /* Bordes redondeados opcionales */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para estética */
}
