.navbar {
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  background-color: #282c34; /* Color de fondo del navbar */
  padding: 20px; /* Más espacio hacia abajo */
}

.navbar-logo {
  height: 120px; /* Altura del logo */
  width: 120px; /* Ancho del logo para mantener la proporción */
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover; /* Recorta la imagen para ajustarla */
  margin-right: 30px; /* Espacio a la derecha del logo */
}

.navbar-links {
  list-style-type: none; /* Sin viñetas */
  display: flex; /* Los links en línea */
  padding: 0; /* Sin padding */
  margin-left: -70px; /* Mover el contenedor de links hacia la izquierda */
}

.navbar-links li {
  margin: 0 20px; /* Espacio entre los links */
}

.navbar-links a {
  color: white; /* Color del texto de los links */
  text-decoration: none; /* Sin subrayado */
  font-size: 18px; /* Tamaño del texto */
  font-weight: bold; /* Puedes ajustar el grosor de la fuente */
}

.navbar-links a:hover {
  text-decoration: none; /* Sin subrayado al pasar el cursor */
  color: #f0f0f0; /* Cambia el color al pasar el cursor */
}
