.carousel-item img {
    height: 400px; /* Establece la altura del carrusel */
    object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Espacio entre el carrusel y las imágenes */
  }
  
  .img-fluid {
    width: 48%; /* Asegúrate de que ambas imágenes tengan ancho proporcional */
    height: auto; /* Mantener proporciones de imagen */
  }
  
  .image-left {
    /* Aquí puedes agregas estilos adicionales para la imagen izquierda si es necesario */
  }
  
  .image-right {
    /* Aquí puedes agregas estilos adicionales para la imagen derecha si es necesario */
  }
  