.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-left, .image-right {
    max-width: 400px; /* Ajusta según tus necesidades */
    height: auto;
    margin: 10px;
}
